body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 60px; /* Thêm padding để tránh bị che bởi top-bar */
}

h1, h2 {
    text-align: center;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FE5621;
    padding: 10px;
    z-index: 1000;
    text-align: center;
}

#search-input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.product-form {
    margin-bottom: 40px;
}

.product-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-form input, .product-form button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

.product-table {
    width: 80%;
    margin: 20px auto; /* Điều chỉnh margin để căn giữa và có khoảng cách tốt hơn */
    text-align: center;
}

.product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-cell {
    flex: 1;
    background-color: #f9f9f9;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Thêm shadow cho hiệu ứng nổi */
}

.product-cell img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-cell p {
    margin: 0;
    padding: 5px 0;
}
